<template>
  <v-container>
    <v-row>
      <v-col cols="4">
        <v-form
          ref="form"
          v-model="valid"

        >
          <v-text-field
            v-model="word"
            label="What is round and covered in cheese?"
            required

          />
          <v-btn
            color="primary"
            class="mr-4"
            @click="submit"
            >
            You think you know?...
          </v-btn>
        </v-form>
      </v-col>
    </v-row>

    <v-row class="flex-md-row mt-6">
      <v-img
        :src="img"
        aspect-ratio="1"
        class="grey lighten-2"
        style="max-height: 20%; max-width: 20%"
      />
      <span class="ml-6 headline">{{ msgReturn }}</span>
    </v-row>

  </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
import { Client as HelloServiceClient } from '@/gen-js/HelloService';
import {
  createHttpConnection,
  createHttpClient,
  HttpConnection, TBufferedTransport, TJSONProtocol,
} from 'thrift'

// The location of the server endpoint
const CONFIG = {
    hostName: 'localhost',
    port: 9090
};

const options = {
    transport: TBufferedTransport,
    protocol: TJSONProtocol,
    https: false,
    headers: {
        Host: CONFIG.hostName,
    }
};

const connection: HttpConnection = createHttpConnection(CONFIG.hostName, CONFIG.port, options);
const thriftClient: HelloServiceClient = createHttpClient(HelloServiceClient, connection);


export default Vue.extend({
  name: 'HelloWorld',

  data: () => ({
    valid: true,
    word: '',
    img: require('../assets/face1.png'),
    msgReturn:"'I doubt you'll get it right...'",
  }),
  methods: {
    submit(): any {
        console.log('Submitting...');
        thriftClient.hello(this.word).then((response:string) =>{
          this.msgReturn = response;

          if (this.msgReturn === "I love PIZZA!"){
            this.img = require('../assets/face2b.png');
          }else{
            this.img = require('../assets/face3.png');
          }

        }).catch(console.error);

    },
  },
});
</script>
